## Arquivos locais gerados por gooser-container
*.png
*.dat
*.log
*.tar.bz2
## Comandos para criação de docker container
## install.sh
## Diretórios contendo pacotes npm 
node_modules
## Diretórios contendo dados pessoais
## etc/config/
## etc/target/
## var/img/
## var/log/
!etc/target/"uTarget linked.in 2022-09-07 marcospgcastro.dat"